In [1]:
from openalgo import api

client = api(api_key='9c56d52753241db0345c2a8c576c0eea4d556523131b63c384b20f741c45f7f0', host='http://127.0.0.1:5000')


response = client.history(symbol="NIFTY", 
    exchange="NSE_INDEX", 
    interval="1m", 
    start_date="2016-10-01", 
    end_date="2025-10-03"
    )

In [2]:
response

                              close      high       low  oi      open  volume
timestamp
2016-10-03 09:15:00+05:30   8660.90   8672.00   8658.10   0   8666.15       0
2016-10-03 09:16:00+05:30   8664.50   8668.04   8660.95   0   8660.95       0
2016-10-03 09:17:00+05:30   8657.35   8664.15   8657.00   0   8664.15       0
2016-10-03 09:18:00+05:30   8652.79   8658.60   8652.10   0   8657.79       0
2016-10-03 09:19:00+05:30   8656.25   8657.00   8651.29   0   8652.95       0
...                             ...       ...       ...  ..       ...     ...
2025-05-15 15:25:00+05:30  25061.35  25062.10  25054.50   0  25057.90       0
2025-05-15 15:26:00+05:30  25056.80  25062.45  25055.60   0  25060.75       0
2025-05-15 15:27:00+05:30  25057.25  25061.35  25055.75   0  25056.85       0
2025-05-15 15:28:00+05:30  25041.80  25056.75  25040.70   0  25055.90       0
2025-05-15 15:29:00+05:30  25035.30  25044.35  25035.30   0  25039.10       0

[202111 rows x 6 columns]